.nijaprint{
    font-size: 30px;
    font-family:serif;
    color:#384A62;font-weight:1000;
}

.nijacontent{
    font-size: 20px;
    font-family: sans-serif;
    color: #506683;
    font-weight: 600;
}